*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(161, 209, 236);
    text-align: center;
    color: #e4e4e4;
}

header{
   margin: 2vw 3vw;
   background-color: rgb(80, 176, 189);
   text-align: center;
   padding: 15px 10px;
   font-size: 24px;
   color: #e4e4e4;
}
main{
    display: flex;
    margin: 0px 3vw;
}
aside{
    background-color: rgb(100, 192, 100);
    width: 25vw;
    height: 75vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
}
.left-col{
    background-color: rgb(179, 139, 66);
    margin-left: 40px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.left-col>p{
    font-size: 30px;
    margin-bottom: 20px;
}
.img-box{
    display: flex;
    margin-right: 2vw;
    margin-bottom: 30px;
    font-size: 30px;
}
.img{
    background-color: rgb(221, 160, 45);
    width: 22vw;
    height: 30vh;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
